@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --DARK_GRAYISH_BLUE: hsl(236, 13%, 42%);
    --SOFT_ORANGE: hsl(35, 77%, 62%);
    --VERY-DARK-BLUE: hsl(240, 100%, 5%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 30px;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px
}

.links ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--DARK_GRAYISH_BLUE);
    transition: 0.5ms color ease;
}

ul .link:hover {
    color: var(--SOFT_ORANGE);
}

img {
    max-width: 100%;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

.new-article {
    background-color: var(--VERY-DARK-BLUE);
    font-family: 'Inter', sans-serif;
    color: hsl(36, 100%, 99%);
    padding: 1em;
    animation: asideFadeAnimation 500ms ease-in 0s 1;
}

.heading {
    font-size: 2.5em;
    margin-top: 7px;
    color: var(--SOFT_ORANGE);
}

.article {
    margin: 25px 5px;
}

.article a {
    color: hsl(36, 100%, 99%);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1rem;
    display: inline-block;
}

.hero-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 0.5rem;
}

.hero-text h1 {
    font-size: 3rem;
}

.article a {
    text-decoration: none;
    transition: 500ms color ease;
}

.article a:hover {
    color: var(--SOFT_ORANGE);
}

.button {
    background-color: hsl(5, 85%, 63%);
    padding: 1em 1.5em;
    display: inline-block;
    margin-top: 1.5em;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25em;
    transition: 500ms background-color ease-in;
}

.button:hover {
    background-color: black;
}

.articles {
    display: flex;
    gap: 1rem;
    margin: 4rem 0;
}

.new-articles {
    display: flex;
    gap: 1rem;
}

.new-articles .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-articles img {
    max-width: 120px;
}

.content h2 {
    color: hsl(233, 8%, 79%);
    font-size: 2em;
}

.content h3 {
    transition: 500ms color ease-in;
    cursor: pointer;
}

.content h3:hover {
    color: var(--SOFT_ORANGE);
}

header {
    animation: headerFadeAnimation 500ms ease-in 0s 1;
}


@keyframes headerFadeAnimation {
    from {
        transform: translateY(-40px);
    }
    to {
        transform: translateY(0px)
    }
}

@keyframes asideFadeAnimation {
    from {
        transform: translateX(40px);
    }
    to {
        transform: translateX(0px)
    }
}

@media screen and (max-width: 800px) {
    .hero {
        grid-template-columns: 1fr;
    }
    .articles {
        flex-direction: column;
    }
}